{% extends "base.html" %}

{% block title %}Player Fantasy Stats{% endblock %}

{% block header_title %}Player Fantasy Stats{% endblock %}

{% block content %}
    <!-- Include the filter options -->
    {% include "partials/filters.html" %}
    
    <!-- Include the column toggles -->
    {% include "partials/column_toggles.html" %}
    
    <!-- Include the table -->
    {% include "partials/table.html" %}
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
{% endblock %}